<!DOCTYPE html>
<html lang="en">
<head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

    <meta charset="UTF-8">
    <% include templates/header.ejs %>
    <title>
        <%= title%>

    </title>
</head>
<body>
<h3>About</h3>

<p>
    Hi My name is <%= name%> , this is express JS tutorial
</p>

</body>
</html>